## Week 10 and 11 Assignment - DATASCI200 Introduction to Data Science Programming, UC Berkeley MIDS

Write code in this Jupyter Notebook to solve the following problems. Please upload this **Notebook** with your solutions to your GitHub repository and provide a link in the last question in gradescope. 

Assignment due date: 11:59PM PT the night before the Week 12 Live Session. Do **NOT** push/upload the data file.

## Objectives

- Explore and glean insights from a real dataset using pandas
- Practice using pandas for exploratory analysis, information gathering, and discovery
- Practice cleaning data and answering questions

## General Guidelines:

- This is a **real** dataset and so it may contain errors and other pecularities to work through
- This dataset is ~218mb, which will take some time to load (and probably won't load in Google Sheets or Excel)
- If you make assumptions, annotate them in your responses
- While there is one code/markdown cell positioned after each question as a placeholder, some of your code/responses may require multiple cells
- Double-click the markdown cells that say for example **1a answer here:** to enter your written answers. If you need more cells for your written answers, make them markdown cells (rather than code cells)
- This homework assignment is not autograded because of the variety of responses one could give. 
  - Please upload this notebook to the autograder page and the TAs will manually grade it. 
  - Ensure that each cell is run and outputs your answer for ease of grading! 
  - Highly suggest to do a `restart & run all` before uploading your code to ensure everything runs and outputs correctly.
  - Answers without code (or code that runs) will be given 0 points.
- **This is meant to simulate real world data so you will have to do some external research to determine what some of the answers are!**

## Dataset

You are to analyze campaign contributions to the 2016 U.S. presidential primary races made in California. Use the csv file located here: https://drive.google.com/file/d/1Lgg-PwXQ6TQLDowd6XyBxZw5g1NGWPjB/view?usp=sharing. You should download and save this file in the same folder as this notebook is stored.  This file originally came from the U.S. Federal Election Commission (https://www.fec.gov/).

**DO NOT PUSH THIS FILE TO YOUR GITHUB REPO!**

- Best practice is to not have DATA files in your code repo. As shown below, the default load is outside of the folder this notebook is in. If you change the folder where the file is stored please update the first cell!
- If you do accidentally push the file to your github repo - follow the directions here to fix it: https://docs.google.com/document/d/15Irgb5V5G7pKPWgAerH7FPMpKeQRunbNflaW-hR2hTA/edit?usp=sharing

Documentation for this data can be found here: https://drive.google.com/file/d/11o_SByceenv0NgNMstM-dxC1jL7I9fHL/view?usp=sharing

## Data Questions

You are working for a California state-wide election campaign. Your boss wants you to examine historic 2016 election contribution data to see what zipcodes are more supportive of fundraising for your candidate. 

Your boss asks you to filter out some of the records:
- Only use primary 2016 contribution data (more like how your race is).
- Concentrate on Bernie Sanders as a candidate (most a like your candidate)

The questions your boss wants answered is:
- Which zipcode (5-digit zipcode) had the highest count of contributions and the most dollar amount?
- What day(s) of the month do most people donate?

## Setup

Run the cell below as it will load the data into a pandas dataframe named `contrib`. Note that a custom date parser is defined to speed up loading. If Python were to guess the date format, it would take even longer to load.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# These commands below set some options for pandas and to have matplotlib show the charts in the notebook
pd.set_option('display.max_rows', 1000)
pd.options.display.float_format = '{:,.2f}'.format

# Define a date parser to pass to read_csv
d = lambda x: datetime.strptime(x, '%d-%b-%y')

# Load the data
# We have this defaulted to the folder OUTSIDE of your repo - please change it as needed
contrib = pd.read_csv('P00000001-CA.csv', index_col=False, parse_dates=['contb_receipt_dt'], date_parser=d)

# Note - for now, it is okay to ignore the warning about mixed types.

/var/folders/_5/mw87wr4s5p902pvj5xm4sqnw0000gn/T/ipykernel_16205/2050583822.py:14: DtypeWarning: Columns (6,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  contrib = pd.read_csv('P00000001-CA.csv', index_col=False, parse_dates=['contb_receipt_dt'], date_parser=d)

***
## 1. Initial Data Checks (50 points)

First we will take a preliminary look at the data to check that it was loaded correctly and contains the info we need.

The questions to answer at the end of this section:
- Do we have the correct # of columns and rows. 
- Do the records contain data for the questions we want to answer 
- What columns are important? 
- What columns can be dropped?
- What are the data problems?

---

**1a.** Print the *shape* of the data. Does this match the expectation? (2 points)

In [2]:
# 1a YOUR CODE HERE

# contrib.head(-10)

contrib.shape

(1125659, 18)

- **1a answer here:** 

The shape matches expectations. I used contrib.head(-10) to get a list of the last 10 rows and see that that last row is 1125659 and the count of columns is 18

---

**1b.** Print a list of column names. Are all the columns included that are in the documentation? (2 points)

In [3]:
# 1b YOUR CODE HERE

contrib.columns

Index(['cmte_id', 'cand_id', 'cand_nm', 'contbr_nm', 'contbr_city',
       'contbr_st', 'contbr_zip', 'contbr_employer', 'contbr_occupation',
       'contb_receipt_amt', 'contb_receipt_dt', 'receipt_desc', 'memo_cd',
       'memo_text', 'form_tp', 'file_num', 'tran_id', 'election_tp'],
      dtype='object')

- **1b answer here:** 

I can't say for sure if the 18 columsns are precisely what was in the documentation as I could not find a single bulk file with the 18 fields. However, I reviewed several files (like those listed below) and reason to believe that the data is complete as it has been blended from multiple sources and the relevant information needed to answer the question is contained.

https://www.fec.gov/data/browse-data/?tab=bulk-data

https://www.fec.gov/campaign-finance-data/candidate-committee-linkage-file-description/

https://www.fec.gov/campaign-finance-data/all-candidates-file-description/

https://www.fec.gov/campaign-finance-data/committee-master-file-description/

https://www.fec.gov/campaign-finance-data/contributions-committees-candidates-file-description/

---

**1c** Print out the first five rows of the dataset. How do the columns `cand_id`, `cand_nm` and `contbr_st` look? (3 points)

In [4]:
# 1c YOUR CODE HERE
contrib.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00575795,P00003392,"Clinton, Hillary Rodham","AULL, ANNE",LARKSPUR,CA,"949,391,913.00",NaN,RETIRED,50.00,2016-04-26,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4768722,P2016
1,C00575795,P00003392,"Clinton, Hillary Rodham","CARROLL, MARYJEAN",CAMBRIA,CA,"934,284,638.00",NaN,RETIRED,200.00,2016-04-20,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4747242,P2016
2,C00575795,P00003392,"Clinton, Hillary Rodham","GANDARA, DESIREE",FONTANA,CA,"923,371,507.00",NaN,RETIRED,5.00,2016-04-02,NaN,X,* HILLARY VICTORY FUND,SA18,1091718,C4666603,P2016
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016

- **1c answer here:** 

The fields are 

* cand_id (ie candidate id) which is a alphanumeric type. 
* The cand_nm (ie candidate name) is alphabetic (unless we have a name like X Æ A-Xii, thanks to Elon). 
* The contbd_st (constribution state) is a 2 digid alphabet (caps) that stands for CA (as this data is limited to california)

---

**1d.** Print out the values for the column `election_tp`. In your own words, based on the documentation, what information does the `election_tp` variable contain? Do the values in the column match the documentation? (3 points)

In [5]:
# 1d YOUR CODE HERE

contrib.election_tp.unique()

array(['P2016', 'G2016', nan, 'P2020'], dtype=object)

- **1d answer here:** 

I see 4 valuesP2016, G2016, P2020 and a nan). I can infer that we have two anomolies here (asusming that P2020 refers to campaign finance data for CY 2020). Also, the nan values have to be fixed as well

---

**1e.** Print out the datatypes for all of the columns. What are the datatypes for the `contbr_zip`, `contb_receipt_amt`, `contb_receipt_dt`? (5 points)

In [6]:
# 1e YOUR CODE HERE

#type(contrib)

contrib.info()

#contrib.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125659 entries, 0 to 1125658
Data columns (total 18 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   cmte_id            1125659 non-null  object
 1   cand_id            1125659 non-null  object
 2   cand_nm            1125659 non-null  object
 3   contbr_nm          1125659 non-null  object
 4   contbr_city        1125633 non-null  object
 5   contbr_st          1125659 non-null  object
 6   contbr_zip         1125564 non-null  object
 7   contbr_employer    967757 non-null   object
 8   contbr_occupation  1115260 non-null  object
 9   contb_receipt_amt  1125659 non-null  float64
 10  contb_receipt_dt   1125659 non-null  datetime64[ns]
 11  receipt_desc       15045 non-null    object
 12  memo_cd            144268 non-null   object
 13  memo_text          501148 non-null   object
 14  form_tp            1125659 non-null  object
 15  file_num           1125659 non-null  int64
 16  tran_id            1125659 non-null  object
 17  election_tp        1124234 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(15)
memory usage: 154.6+ MB

- **1e answer here:** 

* contbr_zip : object
* contb_receipt_amt : float64
* contb_receipt_dt: datetime64[ns]

---

**1f.** What columns have the most non-nulls?  Would you recommend to drop any columns based on the number of nulls? (5 points)

In [7]:
# 1f YOUR CODE HERE
#contrib.info()
#contrib.isnull().sum(axis = 0)

# to get the column with the least non-null values
#contrib.count().idxmin()

# to get the column with the most non-null values
contrib.count().idxmax()

'cmte_id'

- **1f answer here:** 

I am using multiple queries here -- starting with contrib.info() which gives me the detailed listing (refer 1g). I just validated if I am on the right track with query contrib.count().idxmax()

The max count (for non-null values) is 1125659 and there are a number of columns have the most non-null values. In order they are
* 0   cmte_id            1125659 non-null  object        
* 1   cand_id            1125659 non-null  object        
* 2   cand_nm            1125659 non-null  object        
* 3   contbr_nm          1125659 non-null  object
* 5   contbr_st          1125659 non-null  object 
* 9   contb_receipt_amt  1125659 non-null  float64       
* 10  contb_receipt_dt   1125659 non-null  datetime64[ns]
* 14  form_tp            1125659 non-null  object        
* 15  file_num           1125659 non-null  int64         
* 16  tran_id            1125659 non-null  object        

receipt_desc has the least number of non-null values (15045), implying there are 1110614, or ~ 99% of values are null. This is a candidate to be removed

I would also consider the following two columns for removal as well as they don't seem relevant to the basic question and have a ton of null values

Percentage of non-null values: 

* memo_cd: 87%
* memo_text: 55%

---

**1g.** A column we know that we want to use is the cand_nm column.  From the documentation each candidate is a unique candidate id also. Check data quality of `cand_id` column to see if it matches `cand_nm` column. Specifically check to ensure our targetted candidate 'Bernard Sanders' always has the same cand_id throughout. Any issues with `cand_nm` matching `cand_id`? (5 points)

In [8]:
# 1g YOUR CODE HERE
# contrib.loc[contrib['cand_nm'] == 'Sanders, Bernard']

# this gives me a list of all records for Bernie
df1 = contrib.loc[contrib['cand_nm'].str.contains('Sanders, Bernard')]
# df1

# this is a lsit of all bernie records in California

df2 = df1.loc[df1['contbr_st']=='CA']
#df2

# get a list of all candidate ids for bernie in california
df2['cand_id'].unique()

array(['P60007168'], dtype=object)

- **1g answer here:** 

appears that bernie has candidate id of 'P60007168' throughout the CA dataset. No problem

---

**1h.** Another area to check is to make sure all of the records are from California. Check the `contbr_st` column - are there any records outside of California based on `contbr_st`? (5 points)

In [9]:
# 1h YOUR CODE HERE
contrib['contbr_st'].unique()

array(['CA'], dtype=object)

- **1h answer here:** 

it appears that all the records are from california

---

**1i.** The next column to check for the analysis is the `tran_id` column. This column could be the primary key so look for duplicates. How many duplicate entries are there? Any pattern for why are there duplicate entries? (5 points)

In [10]:
# 1i YOUR CODE HERE

# pd.concat(x for _, x in contrib.groupby("tran_id") if len(x) > 1).head(10)

df_dupes = pd.concat(x for _, x in contrib.groupby("tran_id") if len(x) > 1)

len(df_dupes.index)

#df_dupes['cand_nm'].unique()

#df_dupes.head()

6873

---

- **1i answer here:** 

* yes, there are several duplicate entries (6873 to be precise)
* The interesting coincidence is that they seem to occur in 3's!
* There are others where the duplicates are in 2's where the only variable seems to be where the 
* -- contbr_occupation is 'Information Requested'

* These also are cases where the contributor zip code is incorrect. 

* There are other variations but these are the primary ones

---

**1j.** Another column to check is the `contb_receipt_amt` that shows the donation amounts. How many negative donations are included? What do negative donations mean? Please show at least pull a few rows to look at the records with negative donations. Do these records match with the expectation of why a negative donation would happen? (5 points)

In [11]:
# 1j YOUR CODE HERE

#contrib.info()
# contrib[contrib<0]
#contrib['contb_receipt_amt'] < 0

# contrib2 = contrib[contrib['contb_receipt_amt'] < 0]
# contrib2
#contrib2['memo_text'].unique()
#--------------------------------------------------------------
# ALL NEGATIVE CONTRIBUTIONS
contrib_neg = contrib[contrib['contb_receipt_amt'] < 0]
#contrib[contrib['contb_receipt_amt'] < 0].count()

neg_contributions = contrib_neg['contb_receipt_amt'].count()

print('the total number of negative contributions are :', neg_contributions)

contrib_neg[:10]

the total number of negative contributions are : 11896

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
19,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","JOLLIFF, RICHARD",CHICO,CA,"959,289,507.00",SELF EMPLOYED,RANCHER,-25.00,2016-04-29,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826482B,P2016
23,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","JOLLIFF, RICHARD",CHICO,CA,"959,289,507.00",SELF EMPLOYED,RANCHER,-150.00,2016-04-29,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826483B,P2016
81,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","JOLLIFF, RICHARD",CHICO,CA,"959,289,507.00",SELF EMPLOYED,RANCHER,-60.00,2016-04-14,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1827494,P2016
190,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","NOWELL, DIANA L.",RANCHO SANTA MARGARITA,CA,"926,884,928.00",CAPISTRAND UNIFIED SCHOOL DISTRICT,LIBRARIAN TECHNICIAN,-100.00,2016-04-11,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1639830B,P2016
213,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","LICHTY, ANDREW MR.",SAN DIEGO,CA,"921,096,720.00",SELF EMPLOYED,REAL ESTATE,-25.00,2016-04-30,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826888B,P2016
220,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","LICHTY, ANDREW MR.",SAN DIEGO,CA,"921,096,720.00",SELF EMPLOYED,REAL ESTATE,-25.00,2016-04-30,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826894B,P2016
223,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","LICHTY, ANDREW MR.",SAN DIEGO,CA,"921,096,720.00",SELF EMPLOYED,REAL ESTATE,-50.00,2016-04-30,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826895B,P2016
231,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","LICHTY, ANDREW MR.",SAN DIEGO,CA,"921,096,720.00",SELF EMPLOYED,REAL ESTATE,-50.00,2016-04-30,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826886B,P2016
261,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","NOWELL, DIANA L.",RANCHO SANTA MARGARITA,CA,"926,884,928.00",CAPISTRAND UNIFIED SCHOOL DISTRICT,LIBRARIAN TECHNICIAN,-150.00,2016-04-11,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1639829B,P2016
307,C00574624,P60006111,"Cruz, Rafael Edward 'Ted'","LICHTY, ANDREW MR.",SAN DIEGO,CA,"921,096,720.00",SELF EMPLOYED,REAL ESTATE,-50.00,2016-04-30,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,1077664,SA17A.1826889B,P2016

- **1j answer here:**

NOTE: The question does not specify if the scope is for P2016 only. I have analyzed the full dataset unless the questions specifically states, 2016 primary season

* total number of positive values = 1113763

* total number of negative values = 11896

* sum of counts of negative and positive values = 1125659 (which is the total number of records)

* about 1% of thse records have a -ve contb_receipt_amt value

* it appears that the -ve values are driven by the fact that this is an accounting transaction where these amounnts are moved to a different account. You can see this by the 'receipt_desc' as 'REDESIGNATION TO GENERAL' or other reasons like 'REATTRIBUTION TO SPOUSE'. The full list of these account related charges are shown below

'REDESIGNATION TO GENERAL', nan, '* HILLARY VICTORY FUND',
       'REATTRIBUTION TO SPOUSE', 'CHARGED BACK',
       'REDESIGNATION TO PRESIDENTIAL GENERAL',
       'TRANSFER FROM RUBIO VICTORY',
       '2016 SENATE PRIMARY DONOR REDESIGNATION TO GENERAL',
       'REDESIGNATION FROM PRIMARY',
       'US CITIZEN REDESIGNATION TO GENERAL',
       'REDESIGNATION TO CRUZ FOR SENATE',
       '* REATTRIBUTED TO JOHN CASTOR', 'NSF/RETURNED CHECK',
       '* REATTRIBUTED TO FRANK DARABONT',
       'REFUND TO BE ISSUED; REDESIGNATION TO GENERAL',
       'REFUND TO BE ISSUED; CHARGED BACK',
       'REATTRIBUTION TO SPOUSE; SEE REDESIGNATION',
       'CHECK RETURNED BY BANK', 'OVERPAYMENT', '*BEST EFFORTS UPDATE',
       '* REATTRIBUTED TO CHRISTINE MARSHALL',
       '* REATTRIBUTED TO CAROL FITZMORRIS',
       '* REATTRIBUTED TO ERIC UHRANE', '* REATTRIBUTED TO YEU-WEI YEE',
       '* REATTRIBUTED TO NORAH STONE', '* REATTRIBUTED FROM KIM RIDDER',
       'INSUFFICIENT FUNDS', 'REDESIGNATION TO PRIMARY',
       'REATTRIBUTION TO SPOUSE, TERRIE SCHULTZ.',
       '* HILLARY ACTION FUND', 'VOIDED 9/16/16', '2016 SENATE GENERAL',
       '* REATTRIBUTION TO SPOUSE, TERRIE SCHULTZ.', 'REISSUED ON 6/21',
       'CHARGEBACK REVERSAL', 'REATTRIBUTION TO SPOUSE, HARRY HICKS.',
       'REATTRIBUTION/REDESIGNATION REQUESTED REDESIGNATION TO GENERAL',
       '* REATTRIBUTED TO ELIZABETH DOYLE',
       '* REATTRIBUTED TO PRUDENCE MOORE',
       '* REATTRIBUTED TO AISHA LYNCH',
       '* REATTRIBUTED TO SHEILA NEWBERRY',
       '* REATTRIBUTED TO JESSIKA CROIZAT',
       '* REATTRIBUTED TO JUDITH HAYNIE'], dtype=object)

---

**1k.** One more column to look at is the date of donation column. Are there any dates outside of the primary period (defined as 1 Jan 2014 to 7 June 2016)? Are the dates well-formatted for our analysis? (5 points)

In [12]:
# 1k YOUR CODE HERE

# contrib['election_tp'].unique()

# 1 first exclose the 2016 general as well as 2020 data
contrib_p2016 = contrib[contrib['election_tp'] == 'P2016']
contrib_p2016

# 2 select records based on the data parameters

# inscope = contrib[(contrib['contb_receipt_dt'] >= '2014-01-01')  & (contrib['contb_receipt_dt'] <= '2016-6-7')]

# inscope

inscope_p2016 = contrib_p2016[(contrib_p2016['contb_receipt_dt'] >= '2014-01-01')  & \
                       (contrib_p2016['contb_receipt_dt'] <= '2016-06-07')]

#inscope_p2016

# 3 count of records in scope
len(inscope_p2016.index)
# 668864
p2016_valid = len(inscope_p2016.index)


# 4 count of records out of scope (from full dataframe)
#len(contrib.index)
# 1125659
contrib_full = len(contrib.index)

# 5 count of records of only the P2016 primary
#len(contrib_p2016.index)
# 810481
p2016_all = len(contrib_p2016.index)

# 6 calculate the invalid records

print("invalid records in 2016 primary onlyis : ", p2016_all - p2016_valid)
#print("invalid records in 2016 primary onlyis : ", p2016_all - p2016_valid)
# I realize that the second comparion (with contrib_full) is not valid and will stick to the printed output as below

invalid records in 2016 primary onlyis :  141617

- **1k answer here:**
* first, isolcate the records in the contrib df to only those for the primary campaign 2016. I see the file contains data from 3 cycles ['P2016', 'G2016', nan, 'P2020']. So, we need to exclude the others first.

* the date of the donation is the field 'receipt_dt'
* as you can see from above, I have taken 5 steps (admittedly this can be done in a single line, but that would be 
  hard to interpret as yet)
* I first calculate the number of inscope rows (from the already narrowed df of contrib_p2016)
* I then compare that with the full list of rows in the p2016 section
* the final answer is 141617 records that are outside the date range

---

**1l.** Finally, answer the initial questions in the cells below (5 points)

**1l.1** Do we have the correct # of columns and rows.

- **1l.1 answer here:**

Not sure what this exactly means. If by 'correct', you mean 'adequate', the answer is yes we do have the adequate data in order to answer the two questions. Having 407172 records for Bernie is a good enouigh sample size for us to work with. It also shows that Bernie got 36% of all contributions, which is pretty cool.

bernie = len(contrib[contrib['cand_nm'].str.contains('Sanders, Bernard')].index)
total = len(contrib.index)
print(bernie/total)

---

**1l.2** Do the records contain data for the questions we want to answer?

- **1l.2 answer here:**

The two primary questions are about the most supportive zip code (5 digit) and the days of the month are people most likely to donate. However we have a problem

The zipcode field is not really 5 digits -- it is more like the expanded 9 digit format. Infact, only 2% of the records are 5 digits and the rest are greater than 5. More research needs to be done for the > 5 digit data and clean it, which could be as simply as taking just the first 5 digits and ignoring the rest.

------------------------ query used ------------------------
The query I used was
zip_greater_5 = len(contrib[contrib['contbr_zip'].str.len() > 5].index)
zip_5 = len(contrib[contrib['contbr_zip'].str.len() == 5].index)

print(zip_5/zip_greater_5)

Coming to the dates, it appears that all records are of length 10, which is good. This means, we don't have records less than 10 or greater than 10. However, further research needs to be done if the order (yyyy-mm-dd) is consistent across all records

------------------------ query used ------------------------
date_string = contrib['contb_receipt_dt'].astype('str')
date_string_10 = date_string.str.len() == 10
date_string_10.value_counts()
#type(date_string_10)
#len(date_string_10)
date_string_less_10 = date_string.str.len() < 10
date_string_less_10.value_counts()
date_string_greater_10 = date_string.str.len() > 10

---

**1l.3** What columns are important?

- **1l.3 answer here:** 

The two questions are (1) Which zipcode (5-digit zipcode) had the highest count of contributions and the most dollar amount? and (2) What day(s) of the month do most people donate?

to answer these 2 questions, the following 5 fields are most relevant

--- filter first ---
* cand_nm (filtered for only Bernie)
* election_to (filtered for only P2016)

--- key data -----
* contr_zip
* contb_receipt_amt
* contb_receipt_dt

---

**1l.4** What columns can be dropped?

- **1l.4 answer here:** 

The following columns can be dropped

* cmte_id'
* 'contbr_nm', 
* 'contbr_city',
* 'contbr_st', 
* 'contbr_employer', 
* 'contbr_occupation',  
* 'form_tp', 
* 'file_num', 
* 'tran_id',

While not entirely relevant to the question, I would like to retain the following fields as they help clarify accounting discrepencies
* 'receipt_desc', 
* 'memo_cd',
* 'memo_text',

---

**1l.5** What are the data problems?

- **1l.5 answer here:**

There are several data problems, but the primary one being the following
* -ve receipt amounts
* duplicate records (which in cases is tired to the -ve receipt amounts as they are accounting transfers / corrections)

Some minor data issues include
* receipt_desc is NaN
* memo_cd contains irrelevant / incorrect / Nan

On a side note, I was concerned if the candidate name was missplet in the data, but no. I valided this with the query

* bernie_all = contrib[contrib['cand_nm'].str.contains('Bern')]
* bernie_all['cand_nm'].unique()

---

**1l.6** List any assumptions so far:

- **1l.6 answer here:**

* All the contribtions are from either american citizens or those resident here. Foreign contributions are excluded 
* All contributions were done legally and following campaign contribution guidelines
* Individual contributions are only done up to the max allowed ($1000 per candidate per election)
* Contributions are limited to only those for a candidate. Contribution to Super-PACs or political parties is excluded.
* Fields like receipt_desc have many null values. This is concerning but assumed to be benign
* Memo_cd in particular has many null or irrelevant values. This is also assumed to be benigh
* All contributions are in US dollars
* Tran_id has multiple formats, which perhaps means it originated from multiple places. Assumption here that this value is benign and does not influence the outcome of the analysis

***
## 2. Data filtering and data quality fixes (30 points)

Now that we have a basic understanding of the data, let's filter out the records we don't need and fix the data.

---

**2a.** From the dataset filter out (remove) any election_tp not in the primary election. Print/show the shape of the dataframe after the filtering is complete. (5 points)

In [13]:
# 2a YOUR CODE HERE

contrib_p2016 = contrib[contrib['election_tp'] == 'P2016']

contrib_shape = contrib_p2016.shape
print('Contribution shape after filtering only for 2016 CA primary is :', contrib_shape)
#print(contrib_p2016.shape())
#contrib_p2016

Contribution shape after filtering only for 2016 CA primary is : (810481, 18)

---

**2b.** From the dataset filter out (remove) any candidate that is not Bernie Sanders. Print/show the shape of the dataframe after the filtering is complete. (5 points)

In [14]:
# 2b YOUR CODE HERE

## assumption -- I am assuming 2a as sequential to 2b adn beyond. for example, this means that the analysis
## is limited to 2016 primary elections only


# start by confirming all of bernie records
#bernie_all = contrib[contrib['cand_nm'].str.contains('Bern')]

bernie_2016p = contrib_p2016[contrib_p2016['cand_nm'].str.contains('Bern')]

# I chose a .contains('Bern') in order to check if there are records with the name misspelt
#bernie_2016p['cand_nm'].unique()
# the outcome from this confirms there is just one candidate record for 'Sanders, Bernard'
#bernie

# print shape of bernie only records for P2016

print('Shape of Bernie-only data for 2016 CA Primaries is ', bernie_2016p.shape)

Shape of Bernie-only data for 2016 CA Primaries is  (407171, 18)

**2c.** The `contbr_zip` column is not formatted well for our analysis. Make a new zipcode column that is the five-digit zipcodes. Filter out any records outside of California based on the zipcode. Print/show the shape of the dataframe after the filtering is complete. (10 points).

- You will have to research what the valid 5-digit zipcodes for California are!

---

In [15]:
# 2c YOUR CODE HERE

#I have followed a multi-step process to (1) extract the first 5 numbers in the zip code and then to filter them 
# from a list of california zip codes

#1 import zipcodes library
import zipcodes

#2 extract first 5 characters from the zip code field. Store as 'temp' field

bernie_2016p['temp']  = bernie_2016p['contbr_zip'].astype(str).str[:5]

#3 convert the new field (temp) to an integer

bernie_2016p['zipcode_5'] = pd.to_numeric(bernie_2016p['temp'], errors='coerce').fillna(0).astype(np.int64)
#bernie_2016p

#4 get a list of all zipodes in California and store as a list 'res'

filtered_zips = zipcodes.filter_by(state="CA")
#filtered_zips

res = [sub['zip_code'] for sub in filtered_zips]

#5 convert res (string) to res_int(integers) 
res_int = [eval(i) for i in res]
#res_int

#6 filter the dataframe for only california zip codes

bernie_2016p[bernie_2016p['zipcode_5'].isin(res_int)]

/var/folders/_5/mw87wr4s5p902pvj5xm4sqnw0000gn/T/ipykernel_16205/4116990122.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bernie_2016p['temp']  = bernie_2016p['contbr_zip'].astype(str).str[:5]
/var/folders/_5/mw87wr4s5p902pvj5xm4sqnw0000gn/T/ipykernel_16205/4116990122.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bernie_2016p['zipcode_5'] = pd.to_numeric(bernie_2016p['temp'], errors='coerce').fillna(0).astype(np.int64)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp,temp,zipcode_5
3,C00577130,P60007168,"Sanders, Bernard","LEE, ALAN",CAMARILLO,CA,"930,111,214.00",AT&T GOVERNMENT SOLUTIONS,SOFTWARE ENGINEER,40.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKWA097,P2016,93011,93011
4,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,35.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3MB3,P2016,90278,90278
5,C00577130,P60007168,"Sanders, Bernard","LEONELLI, ODETTE",REDONDO BEACH,CA,"902,784,310.00",VERICOR ENTERPRISES INC.,PHARMACIST,100.00,2016-03-06,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKYBXV4,P2016,90278,90278
6,C00577130,P60007168,"Sanders, Bernard","LEOPARD, PATTI",VISTA,CA,"920,842,849.00",ONSITE ENERGY CORPORATION,PROJECT MANAGER,25.00,2016-03-04,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKW04C1,P2016,92084,92084
8,C00577130,P60007168,"Sanders, Bernard","LEPKE, KELLY",WESTMINSTER,CA,"926,833,846.00",NONE,NOT EMPLOYED,10.00,2016-03-05,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1077404,VPF7BKX3H59,P2016,92683,92683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121696,C00577130,P60007168,"Sanders, Bernard","SIMONE, ARLENE",ENCINO,CA,914361655,SELF EMPLOYED-EMPLOYED,ENTERTASINER,50.00,2016-04-23,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1079445,VPF7BP5TFS6,P2016,91436,91436
1121698,C00577130,P60007168,"Sanders, Bernard","SIMONE, ARLENE",ENCINO,CA,914361655,SELF EMPLOYED-EMPLOYED,ENTERTASINER,100.00,2016-04-27,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1079445,VPF7BP86GH6,P2016,91436,91436
1121703,C00577130,P60007168,"Sanders, Bernard","ROBINSON, KATHARINE",FULLERTON,CA,928313414,CITY OF LOS ANGELES,MANAGEMENT ASSISTANT,15.00,2016-04-15,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1079445,VPF7BNXXDY5,P2016,92831,92831
1121704,C00577130,P60007168,"Sanders, Bernard","ROBINSON, KATHARINE",FULLERTON,CA,928313414,CITY OF LOS ANGELES,MANAGEMENT ASSISTANT,15.00,2016-04-23,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1079445,VPF7BP64DH7,P2016,92831,92831
1121705,C00577130,P60007168,"Sanders, Bernard","ROBINSON, KATHARINE",FULLERTON,CA,928313414,CITY OF LOS ANGELES,MANAGEMENT ASSISTANT,15.00,2016-04-25,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1079445,VPF7BP6KBS4,P2016,92831,92831

---

**2d.** The receipt amount column has negative donations. After talking with your team, a decision was made that the best course of action is to remove these negative values so that the donation count and amount is more accurate. Print/show the shape of the dataframe after the filtering is complete. (5 points)

In [16]:
# 2d YOUR CODE HERE

#1 start by creating a new dataframe (I personally don't like to pollute existing dataframe or overwrite them)
bernie_2016p_CA = bernie_2016p[bernie_2016p['zipcode_5'].isin(res_int)]
bernie_2016p_CA

#2 identify the records with a negative contribution amount

bernie_2016p_CA[bernie_2016p_CA['contb_receipt_amt']<0]

#3 Drop these records from the bernie_2016p_CA df. I have chosen to save this in a new dataframe with just +ve values

bernie_2016p_CA_positive = bernie_2016p_CA.drop(bernie_2016p_CA[bernie_2016p_CA['contb_receipt_amt']<0].index)
#bernie_2016p_CA_positive.shape

#4 you will notice 20 columns (instead). Drop the 2 columns
#bernie_2016p_CA_positive = bernie_2016p_CA_positive.drop('temp', axis = 1)
#bernie_2016p_CA_positive = bernie_2016p_CA_positive.drop('zipcode_5', axis = 1)

#5 get shape of the data

bernie_2016p_CA_positive.shape

(403998, 20)

---

**2e.** From the dataset drop any columns that won't be used in the analysis. Print/show the shape of the dataframe after the dropping is complete. What columns did you drop and why? (5 points)

In [17]:
# 2e YOUR CODE HERE
# bernie_2016p_CA_positive.columns

bernie_2016p_CA_positive.drop(['cmte_id', 'contbr_zip', 'cand_nm', 'cand_id', 'contbr_nm', 'contbr_city','contbr_st',\
                             'contbr_employer', 'contbr_occupation','receipt_desc', 'memo_cd',\
                             'memo_text', 'form_tp', 'file_num', 'tran_id', 'election_tp', 'temp'], \
                              axis = 1, inplace = True)
print('The final dataframe for analysis has 3 columns only ', bernie_2016p_CA_positive.shape)

The final dataframe for analysis has 3 columns only  (403998, 3)

- **2e answer here:**

I have retained only 3 columns (contb_receipt_amt, contb_receipt_dt,zipcode_5 ) and dropped the rest.

I believe these are the only columns needed to answer the 2 questions on hand

---

**2f.** List any assumptions that you made up to this point:

- **2f answer here:**

* I have dropped several fields that could be interested from an analytical point of view, but not relevant for the question on hand. These fields are: 'cmte_id', 'contbr_zip', 'cand_nm', 'cand_id', 'contbr_nm', 'contbr_city','contbr_st','contbr_employer', 'contbr_occupation','receipt_desc', 'memo_cd', 'memo_text', 'form_tp', 'file_num', 'tran_id', 'election_tp', 'temp'
* so the primary assumption is regarding the scope of the analysis which is quite limited. 
* I got the list of california zip codes from an external library and believe this to be accurate
* all contribution amounts are in us dollars

***
## 3. Answering the questions (20 points)

Now that the data is cleaned and filterd - let's answer the two questions from your boss!

**3a.** Which zipcode had the highest count of contributions and the most dollar amount? (10 points)

In [20]:
# 3a YOUR CODE HERE


# most prolific zipcode
items_counts = bernie_2016p_CA_positive['zipcode_5'].value_counts(sort=False)
top = items_counts.loc[[items_counts.idxmax()]]
# value, count = top.index[0], top.iat[0]
# print(value, count)

print('the most prolific zip code is :', top.index[0])

# max contribution amount

max_sum = bernie_2016p_CA_positive.groupby('zipcode_5').agg({'contb_receipt_amt': ['sum']}).max()
print("the max sum collected is :", max_sum)

# max contribution amount zipcode
max_sum_zip = bernie_2016p_CA_positive.groupby('zipcode_5').agg({'contb_receipt_amt': ['sum']}).idxmax()
print("zipcode for the max sum :", max_sum_zip)

the most prolific zip code is : 94110
the max sum collected is : contb_receipt_amt  sum   294,061.13
dtype: float64
zipcode for the max sum : contb_receipt_amt  sum    94110
dtype: int64

---

- **3a answer here:**

**3b.** What day(s) of the month do most people donate? (10 points)

In [45]:
# 3b YOUR CODE HERE

max_sum_date = bernie_2016p_CA_positive.groupby('contb_receipt_dt').agg({'contb_receipt_amt': ['sum']}).idxmax()
print("the max sum is collected on date :", max_sum_date)

max_sum_date_value = bernie_2016p_CA_positive.groupby('contb_receipt_dt').agg({'contb_receipt_amt': ['sum']}).max()
print("the max sum collected is :", max_sum_date_value)

the max sum is collected on date : contb_receipt_amt  sum   2016-02-29
dtype: datetime64[ns]
the max sum collected is : contb_receipt_amt  sum   460,480.99
dtype: float64

In [36]:
max_sum_date = bernie_2016p_CA_positive.groupby('contb_receipt_dt').agg({'contb_receipt_amt': ['sum']})

max_sum_date
#print("the max sum collected is :", max_sum_date)

                 contb_receipt_amt
                               sum
contb_receipt_dt
2015-05-04                1,250.00
2015-05-05                  250.00
2015-05-06                1,850.00
2015-05-07                1,125.00
2015-05-11                2,950.00
2015-05-13                  900.00
2015-05-14                1,200.00
2015-05-15                4,950.00
2015-05-18                  500.00
2015-05-20                2,650.00
2015-05-26                  522.00
2015-05-27                  853.00
2015-05-28                5,240.00
2015-05-29                   30.00
2015-05-30                   20.00
2015-05-31                1,896.00
2015-06-01                5,515.00
2015-06-02                1,895.00
2015-06-03                4,700.00
2015-06-05                1,530.00
2015-06-06                  201.00
2015-06-07                  225.00
2015-06-08                   55.00
2015-06-09                7,170.00
2015-06-10               10,199.00
2015-06-11               14,305.00
2015-06-12                2,746.00
2015-06-13                  545.00
2015-06-14                  546.00
2015-06-15                6,194.00
2015-06-16                7,500.00
2015-06-17                6,663.00
2015-06-18               10,713.00
2015-06-19                6,702.00
2015-06-20                3,398.00
2015-06-21                   45.00
2015-06-22               12,161.00
2015-06-23                  694.00
2015-06-24               28,549.00
2015-06-25                2,587.00
2015-06-26                4,766.00
2015-06-27                1,368.83
2015-06-28                1,472.24
2015-06-29                2,889.57
2015-06-30               16,875.85
2015-07-01               13,686.80
2015-07-02               19,225.71
2015-07-03               18,652.93
2015-07-04                4,183.04
2015-07-05                4,841.29
2015-07-06               10,847.51
2015-07-07               10,763.10
2015-07-08               14,534.26
2015-07-09                5,597.57
2015-07-10               12,444.21
2015-07-11                9,164.23
2015-07-12                6,759.33
2015-07-13               17,778.89
2015-07-14               12,534.15
2015-07-15               15,561.25
2015-07-16               11,365.42
2015-07-17                6,553.59
2015-07-18                3,998.64
2015-07-19                2,260.29
2015-07-20                4,786.57
2015-07-21                7,829.62
2015-07-22                4,768.49
2015-07-23                6,594.89
2015-07-24                3,314.00
2015-07-25                5,988.48
2015-07-26                3,189.47
2015-07-27               16,210.51
2015-07-28               11,639.32
2015-07-29                7,469.71
2015-07-30               26,660.49
2015-07-31               10,388.76
2015-08-01               11,876.27
2015-08-02                7,225.02
2015-08-03                7,384.80
2015-08-04               10,071.07
2015-08-05                8,172.00
2015-08-06               11,453.65
2015-08-07               13,014.47
2015-08-08                6,060.56
2015-08-09                4,851.00
2015-08-10                9,268.12
2015-08-11               25,909.05
2015-08-12               25,779.64
2015-08-13               17,233.95
2015-08-14               14,774.96
2015-08-15               15,306.85
2015-08-16                4,305.79
2015-08-17               16,325.18
2015-08-18                4,153.59
2015-08-19               12,248.48
2015-08-20               10,051.59
2015-08-21               17,889.77
2015-08-22                7,545.62
2015-08-23                4,064.45
2015-08-24                5,923.82
2015-08-25               13,185.08
2015-08-26               18,623.76
2015-08-27               11,776.15
2015-08-28               15,799.27
2015-08-29               15,889.37
2015-08-30               17,185.01
2015-08-31               33,992.42
2015-09-01               12,239.29
2015-09-02               12,964.65
2015-09-03               17,475.07
2015-09-04               12,635.05
2015-09-05               11,826.46
2015-09-06               10,039.19
2015-09-07               14,814.80
2015-09-08               21,294.90
2015-09-09                8,468.85
2015-09-10                1,451.16
2015-09-11                5,197.35
2015-09-12               10,909.48
2015-09-13               14,120.72
2015-09-14               24,610.19
2015-09-15               39,585.45
2015-09-16               16,053.98
2015-09-17               24,275.26
2015-09-18               17,531.65
2015-09-19               25,442.20
2015-09-20                9,749.56
2015-09-21               16,345.97
2015-09-22               13,734.04
2015-09-23               30,128.37
2015-09-24               24,488.54
2015-09-25               19,014.94
2015-09-26               16,496.33
2015-09-27               17,309.74
2015-09-28               32,037.89
2015-09-29               39,259.19
2015-09-30              125,280.50
2015-10-01               40,968.74
2015-10-02               36,359.62
2015-10-03               38,318.45
2015-10-04               12,998.03
2015-10-05               34,048.59
2015-10-06               20,381.40
2015-10-07               42,752.00
2015-10-08               39,379.89
2015-10-09               40,543.16
2015-10-10               25,916.51
2015-10-11               16,145.92
2015-10-12               28,177.33
2015-10-13               91,102.31
2015-10-14               99,592.37
2015-10-15               37,269.32
2015-10-16               24,524.75
2015-10-17               25,696.18
2015-10-18               16,712.27
2015-10-19               43,387.61
2015-10-20               13,145.31
2015-10-21               16,212.24
2015-10-22               14,872.66
2015-10-23               19,533.59
2015-10-24                8,714.73
2015-10-25                7,289.34
2015-10-26               14,246.26
2015-10-27               13,250.60
2015-10-28               21,488.39
2015-10-29               24,311.38
2015-10-30               20,800.84
2015-10-31               18,351.22
2015-11-01               14,367.09
2015-11-02               18,763.31
2015-11-03               14,304.09
2015-11-04               45,488.91
2015-11-05               37,023.21
2015-11-06               21,904.34
2015-11-07               12,679.00
2015-11-08                8,984.99
2015-11-09               13,678.15
2015-11-10               19,065.34
2015-11-11               15,829.77
2015-11-12               10,401.65
2015-11-13               14,332.55
2015-11-14               36,984.09
2015-11-15               41,146.80
2015-11-16               28,185.20
2015-11-17               19,442.48
2015-11-18               22,685.06
2015-11-19               13,638.79
2015-11-20               17,429.90
2015-11-21               13,247.50
2015-11-22               13,274.70
2015-11-23               10,747.77
2015-11-24               19,394.22
2015-11-25               14,451.98
2015-11-26                9,499.78
2015-11-27               11,158.28
2015-11-28               18,439.99
2015-11-29               14,532.46
2015-11-30               21,507.48
2015-12-01               21,335.29
2015-12-02               18,055.73
2015-12-03               13,920.71
2015-12-04                7,801.60
2015-12-05                8,462.12
2015-12-06                7,090.57
2015-12-07               28,526.56
2015-12-08               33,847.72
2015-12-09               22,079.64
2015-12-10               16,324.02
2015-12-11               11,882.78
2015-12-12               22,796.93
2015-12-13               17,331.49
2015-12-14               45,432.41
2015-12-15               54,300.42
2015-12-16               88,138.66
2015-12-17               24,554.93
2015-12-18               71,462.98
2015-12-19               48,171.56
2015-12-20               35,800.52
2015-12-21               34,716.08
2015-12-22               27,949.14
2015-12-23               40,340.34
2015-12-24               18,332.56
2015-12-25                8,521.66
2015-12-26               11,665.21
2015-12-27               11,339.02
2015-12-28               91,611.44
2015-12-29               74,220.28
2015-12-30              100,716.22
2015-12-31              196,433.55
2016-01-01               22,167.43
2016-01-02               12,812.46
2016-01-03               15,780.34
2016-01-04               18,540.58
2016-01-05               34,424.21
2016-01-06               14,165.49
2016-01-07               16,520.04
2016-01-08               21,810.95
2016-01-09               11,566.67
2016-01-10               58,139.11
2016-01-11               50,077.41
2016-01-12               83,755.01
2016-01-13               54,003.05
2016-01-14               76,180.03
2016-01-15               37,781.09
2016-01-16               53,578.16
2016-01-17               73,289.05
2016-01-18               63,540.27
2016-01-19               65,659.55
2016-01-20               52,209.96
2016-01-21               56,152.46
2016-01-22               34,699.21
2016-01-23               33,627.02
2016-01-24               24,970.11
2016-01-25              102,860.75
2016-01-26              102,525.07
2016-01-27              161,370.52
2016-01-28               95,522.40
2016-01-29              186,529.40
2016-01-30              109,870.18
2016-01-31               71,670.23
2016-02-01               67,853.48
2016-02-02              261,319.92
2016-02-03               56,185.02
2016-02-04               73,016.70
2016-02-05               78,162.59
2016-02-06               34,694.22
2016-02-07               32,647.10
2016-02-08               57,320.70
2016-02-09              201,229.71
2016-02-10              322,374.11
2016-02-11              106,139.75
2016-02-12              107,966.49
2016-02-13               51,147.06
2016-02-14               54,729.93
2016-02-15               41,050.60
2016-02-16               86,830.00
2016-02-17               88,940.30
2016-02-18               86,701.31
2016-02-19               57,646.78
2016-02-20              138,214.69
2016-02-21              110,312.77
2016-02-22               94,735.99
2016-02-23              161,367.86
2016-02-24              128,269.45
2016-02-25              102,840.06
2016-02-26              144,538.99
2016-02-27              123,615.11
2016-02-28              156,629.98
2016-02-29              460,480.99
2016-03-01              112,228.94
2016-03-02              128,541.26
2016-03-03               47,816.72
2016-03-04               90,384.08
2016-03-05              111,983.67
2016-03-06              154,504.04
2016-03-07               89,541.55
2016-03-08              137,339.18
2016-03-09              374,685.15
2016-03-10              100,823.91
2016-03-11              112,746.43
2016-03-12              145,163.35
2016-03-13              179,134.38
2016-03-14              301,506.25
2016-03-15               70,566.65
2016-03-16              211,033.75
2016-03-17              131,904.17
2016-03-18               69,785.51
2016-03-19               46,330.87
2016-03-20               63,135.11
2016-03-21              112,398.17
2016-03-22               75,745.71
2016-03-23              156,720.38
2016-03-24               78,881.13
2016-03-25              111,258.71
2016-03-26              103,799.70
2016-03-27              163,937.08
2016-03-28              154,411.77
2016-03-29              161,417.61
2016-03-30              211,022.30
2016-03-31              350,506.36
2016-04-01              105,064.49
2016-04-02               47,276.99
2016-04-03               86,426.75
2016-04-04               86,591.03
2016-04-05              123,753.01
2016-04-06              209,936.16
2016-04-07              112,537.91
2016-04-08              236,406.65
2016-04-09              150,131.06
2016-04-10               93,499.58
2016-04-11               60,345.56
2016-04-12               74,905.08
2016-04-13               91,578.55
2016-04-14              122,955.88
2016-04-15              182,950.02
2016-04-16               92,582.26
2016-04-17              151,024.09
2016-04-18              127,824.52
2016-04-19               92,812.98
2016-04-20              139,304.67
2016-04-21               51,292.24
2016-04-22               52,561.54
2016-04-23               45,284.42
2016-04-24               28,224.79
2016-04-25               73,179.55
2016-04-26              107,188.66
2016-04-27               93,170.70
2016-04-28               70,812.86
2016-04-29               96,067.78
2016-04-30              230,736.87
2016-05-01               44,693.56
2016-05-02               73,509.35
2016-05-03              127,028.99
2016-05-04              149,868.59
2016-05-05               49,862.98
2016-05-06               50,174.79
2016-05-07               60,094.32
2016-05-08               57,000.76
2016-05-09               42,279.43
2016-05-10              116,356.26
2016-05-11               97,506.69
2016-05-12               64,807.63
2016-05-13               49,605.80
2016-05-14               53,428.23
2016-05-15               43,330.50
2016-05-16               38,255.45
2016-05-17               39,957.23
2016-05-18              119,302.87
2016-05-19               50,333.02
2016-05-20               65,018.66
2016-05-21               86,025.85
2016-05-22               82,296.72
2016-05-23               41,989.77
2016-05-24               66,884.63
2016-05-25               44,912.01
2016-05-26               88,860.96
2016-05-27               69,601.94
2016-05-28               64,408.62
2016-05-29               33,239.86
2016-05-30               30,420.56
2016-05-31              354,820.12
2016-06-01              109,846.68
2016-06-02               32,817.50
2016-06-03               29,676.19
2016-06-04               28,361.09
2016-06-05               21,755.43
2016-06-06               15,531.43
2016-06-07               78,711.15
2016-06-08              141,824.03
2016-06-09               34,028.69
2016-06-10               18,223.82
2016-06-11               26,834.87
2016-06-12               15,285.59
2016-06-13               18,283.03
2016-06-14               16,502.32
2016-06-15               14,688.06
2016-06-16               16,995.74
2016-06-17               13,448.37
2016-06-18                5,956.23
2016-06-19                6,853.12
2016-06-20                7,227.08
2016-06-21                8,707.94
2016-06-22                5,149.92
2016-06-23               25,207.26
2016-06-24               14,060.78
2016-06-25                4,707.63
2016-06-26                5,232.47
2016-06-27                4,812.33
2016-06-28               86,953.14
2016-06-29               60,149.46
2016-06-30              129,765.61
2016-07-01               37,550.48
2016-07-02                9,125.62
2016-07-03                5,395.16
2016-07-04                5,901.44
2016-07-05               13,849.87
2016-07-06                7,165.56
2016-07-07                4,653.09
2016-07-08                3,790.95
2016-07-09                2,639.52
2016-07-10                3,412.38
2016-07-11                3,321.53
2016-07-12               12,362.91
2016-07-13               10,423.22
2016-07-14                7,325.32
2016-07-15                6,004.37
2016-07-16                8,023.58
2016-07-17                4,849.24
2016-07-18                5,328.89
2016-07-19                3,635.91
2016-07-20                2,212.56
2016-07-21                6,217.58
2016-07-22                3,215.25
2016-07-23                2,633.32
2016-07-24                1,479.16
2016-07-25                2,970.88
2016-07-26                3,402.24
2016-07-27                2,298.96
2016-07-28                5,873.04
2016-07-29                  914.32
2016-07-30                  288.96
2016-08-05                  340.00
2016-08-31                  100.00
2016-09-14                  250.00

In [44]:
max_sum_date.info

<bound method DataFrame.info of                  contb_receipt_amt
                               sum
contb_receipt_dt
2015-05-04                1,250.00
2015-05-05                  250.00
2015-05-06                1,850.00
2015-05-07                1,125.00
2015-05-11                2,950.00
2015-05-13                  900.00
2015-05-14                1,200.00
2015-05-15                4,950.00
2015-05-18                  500.00
2015-05-20                2,650.00
2015-05-26                  522.00
2015-05-27                  853.00
2015-05-28                5,240.00
2015-05-29                   30.00
2015-05-30                   20.00
2015-05-31                1,896.00
2015-06-01                5,515.00
2015-06-02                1,895.00
2015-06-03                4,700.00
2015-06-05                1,530.00
2015-06-06                  201.00
2015-06-07                  225.00
2015-06-08                   55.00
2015-06-09                7,170.00
2015-06-10               10,199.00
2015-06-11               14,305.00
2015-06-12                2,746.00
2015-06-13                  545.00
2015-06-14                  546.00
2015-06-15                6,194.00
2015-06-16                7,500.00
2015-06-17                6,663.00
2015-06-18               10,713.00
2015-06-19                6,702.00
2015-06-20                3,398.00
2015-06-21                   45.00
2015-06-22               12,161.00
2015-06-23                  694.00
2015-06-24               28,549.00
2015-06-25                2,587.00
2015-06-26                4,766.00
2015-06-27                1,368.83
2015-06-28                1,472.24
2015-06-29                2,889.57
2015-06-30               16,875.85
2015-07-01               13,686.80
2015-07-02               19,225.71
2015-07-03               18,652.93
2015-07-04                4,183.04
2015-07-05                4,841.29
2015-07-06               10,847.51
2015-07-07               10,763.10
2015-07-08               14,534.26
2015-07-09                5,597.57
2015-07-10               12,444.21
2015-07-11                9,164.23
2015-07-12                6,759.33
2015-07-13               17,778.89
2015-07-14               12,534.15
2015-07-15               15,561.25
2015-07-16               11,365.42
2015-07-17                6,553.59
2015-07-18                3,998.64
2015-07-19                2,260.29
2015-07-20                4,786.57
2015-07-21                7,829.62
2015-07-22                4,768.49
2015-07-23                6,594.89
2015-07-24                3,314.00
2015-07-25                5,988.48
2015-07-26                3,189.47
2015-07-27               16,210.51
2015-07-28               11,639.32
2015-07-29                7,469.71
2015-07-30               26,660.49
2015-07-31               10,388.76
2015-08-01               11,876.27
2015-08-02                7,225.02
2015-08-03                7,384.80
2015-08-04               10,071.07
2015-08-05                8,172.00
2015-08-06               11,453.65
2015-08-07               13,014.47
2015-08-08                6,060.56
2015-08-09                4,851.00
2015-08-10                9,268.12
2015-08-11               25,909.05
2015-08-12               25,779.64
2015-08-13               17,233.95
2015-08-14               14,774.96
2015-08-15               15,306.85
2015-08-16                4,305.79
2015-08-17               16,325.18
2015-08-18                4,153.59
2015-08-19               12,248.48
2015-08-20               10,051.59
2015-08-21               17,889.77
2015-08-22                7,545.62
2015-08-23                4,064.45
2015-08-24                5,923.82
2015-08-25               13,185.08
2015-08-26               18,623.76
2015-08-27               11,776.15
2015-08-28               15,799.27
2015-08-29               15,889.37
2015-08-30               17,185.01
2015-08-31               33,992.42
2015-09-01               12,239.29
2015-09-02               12,964.65
2015-09-03               17,475.07
2015-09-04               12,635.05
2015-09-05               11,826.46
2015-09-06               10,039.19
2015-09-07               14,814.80
2015-09-08               21,294.90
2015-09-09                8,468.85
2015-09-10                1,451.16
2015-09-11                5,197.35
2015-09-12               10,909.48
2015-09-13               14,120.72
2015-09-14               24,610.19
2015-09-15               39,585.45
2015-09-16               16,053.98
2015-09-17               24,275.26
2015-09-18               17,531.65
2015-09-19               25,442.20
2015-09-20                9,749.56
2015-09-21               16,345.97
2015-09-22               13,734.04
2015-09-23               30,128.37
2015-09-24               24,488.54
2015-09-25               19,014.94
2015-09-26               16,496.33
2015-09-27               17,309.74
2015-09-28               32,037.89
2015-09-29               39,259.19
2015-09-30              125,280.50
2015-10-01               40,968.74
2015-10-02               36,359.62
2015-10-03               38,318.45
2015-10-04               12,998.03
2015-10-05               34,048.59
2015-10-06               20,381.40
2015-10-07               42,752.00
2015-10-08               39,379.89
2015-10-09               40,543.16
2015-10-10               25,916.51
2015-10-11               16,145.92
2015-10-12               28,177.33
2015-10-13               91,102.31
2015-10-14               99,592.37
2015-10-15               37,269.32
2015-10-16               24,524.75
2015-10-17               25,696.18
2015-10-18               16,712.27
2015-10-19               43,387.61
2015-10-20               13,145.31
2015-10-21               16,212.24
2015-10-22               14,872.66
2015-10-23               19,533.59
2015-10-24                8,714.73
2015-10-25                7,289.34
2015-10-26               14,246.26
2015-10-27               13,250.60
2015-10-28               21,488.39
2015-10-29               24,311.38
2015-10-30               20,800.84
2015-10-31               18,351.22
2015-11-01               14,367.09
2015-11-02               18,763.31
2015-11-03               14,304.09
2015-11-04               45,488.91
2015-11-05               37,023.21
2015-11-06               21,904.34
2015-11-07               12,679.00
2015-11-08                8,984.99
2015-11-09               13,678.15
2015-11-10               19,065.34
2015-11-11               15,829.77
2015-11-12               10,401.65
2015-11-13               14,332.55
2015-11-14               36,984.09
2015-11-15               41,146.80
2015-11-16               28,185.20
2015-11-17               19,442.48
2015-11-18               22,685.06
2015-11-19               13,638.79
2015-11-20               17,429.90
2015-11-21               13,247.50
2015-11-22               13,274.70
2015-11-23               10,747.77
2015-11-24               19,394.22
2015-11-25               14,451.98
2015-11-26                9,499.78
2015-11-27               11,158.28
2015-11-28               18,439.99
2015-11-29               14,532.46
2015-11-30               21,507.48
2015-12-01               21,335.29
2015-12-02               18,055.73
2015-12-03               13,920.71
2015-12-04                7,801.60
2015-12-05                8,462.12
2015-12-06                7,090.57
2015-12-07               28,526.56
2015-12-08               33,847.72
2015-12-09               22,079.64
2015-12-10               16,324.02
2015-12-11               11,882.78
2015-12-12               22,796.93
2015-12-13               17,331.49
2015-12-14               45,432.41
2015-12-15               54,300.42
2015-12-16               88,138.66
2015-12-17               24,554.93
2015-12-18               71,462.98
2015-12-19               48,171.56
2015-12-20               35,800.52
2015-12-21               34,716.08
2015-12-22               27,949.14
2015-12-23               40,340.34
2015-12-24               18,332.56
2015-12-25                8,521.66
2015-12-26               11,665.21
2015-12-27               11,339.02
2015-12-28               91,611.44
2015-12-29               74,220.28
2015-12-30              100,716.22
2015-12-31              196,433.55
2016-01-01               22,167.43
2016-01-02               12,812.46
2016-01-03               15,780.34
2016-01-04               18,540.58
2016-01-05               34,424.21
2016-01-06               14,165.49
2016-01-07               16,520.04
2016-01-08               21,810.95
2016-01-09               11,566.67
2016-01-10               58,139.11
2016-01-11               50,077.41
2016-01-12               83,755.01
2016-01-13               54,003.05
2016-01-14               76,180.03
2016-01-15               37,781.09
2016-01-16               53,578.16
2016-01-17               73,289.05
2016-01-18               63,540.27
2016-01-19               65,659.55
2016-01-20               52,209.96
2016-01-21               56,152.46
2016-01-22               34,699.21
2016-01-23               33,627.02
2016-01-24               24,970.11
2016-01-25              102,860.75
2016-01-26              102,525.07
2016-01-27              161,370.52
2016-01-28               95,522.40
2016-01-29              186,529.40
2016-01-30              109,870.18
2016-01-31               71,670.23
2016-02-01               67,853.48
2016-02-02              261,319.92
2016-02-03               56,185.02
2016-02-04               73,016.70
2016-02-05               78,162.59
2016-02-06               34,694.22
2016-02-07               32,647.10
2016-02-08               57,320.70
2016-02-09              201,229.71
2016-02-10              322,374.11
2016-02-11              106,139.75
2016-02-12              107,966.49
2016-02-13               51,147.06
2016-02-14               54,729.93
2016-02-15               41,050.60
2016-02-16               86,830.00
2016-02-17               88,940.30
2016-02-18               86,701.31
2016-02-19               57,646.78
2016-02-20              138,214.69
2016-02-21              110,312.77
2016-02-22               94,735.99
2016-02-23              161,367.86
2016-02-24              128,269.45
2016-02-25              102,840.06
2016-02-26              144,538.99
2016-02-27              123,615.11
2016-02-28              156,629.98
2016-02-29              460,480.99
2016-03-01              112,228.94
2016-03-02              128,541.26
2016-03-03               47,816.72
2016-03-04               90,384.08
2016-03-05              111,983.67
2016-03-06              154,504.04
2016-03-07               89,541.55
2016-03-08              137,339.18
2016-03-09              374,685.15
2016-03-10              100,823.91
2016-03-11              112,746.43
2016-03-12              145,163.35
2016-03-13              179,134.38
2016-03-14              301,506.25
2016-03-15               70,566.65
2016-03-16              211,033.75
2016-03-17              131,904.17
2016-03-18               69,785.51
2016-03-19               46,330.87
2016-03-20               63,135.11
2016-03-21              112,398.17
2016-03-22               75,745.71
2016-03-23              156,720.38
2016-03-24               78,881.13
2016-03-25              111,258.71
2016-03-26              103,799.70
2016-03-27              163,937.08
2016-03-28              154,411.77
2016-03-29              161,417.61
2016-03-30              211,022.30
2016-03-31              350,506.36
2016-04-01              105,064.49
2016-04-02               47,276.99
2016-04-03               86,426.75
2016-04-04               86,591.03
2016-04-05              123,753.01
2016-04-06              209,936.16
2016-04-07              112,537.91
2016-04-08              236,406.65
2016-04-09              150,131.06
2016-04-10               93,499.58
2016-04-11               60,345.56
2016-04-12               74,905.08
2016-04-13               91,578.55
2016-04-14              122,955.88
2016-04-15              182,950.02
2016-04-16               92,582.26
2016-04-17              151,024.09
2016-04-18              127,824.52
2016-04-19               92,812.98
2016-04-20              139,304.67
2016-04-21               51,292.24
2016-04-22               52,561.54
2016-04-23               45,284.42
2016-04-24               28,224.79
2016-04-25               73,179.55
2016-04-26              107,188.66
2016-04-27               93,170.70
2016-04-28               70,812.86
2016-04-29               96,067.78
2016-04-30              230,736.87
2016-05-01               44,693.56
2016-05-02               73,509.35
2016-05-03              127,028.99
2016-05-04              149,868.59
2016-05-05               49,862.98
2016-05-06               50,174.79
2016-05-07               60,094.32
2016-05-08               57,000.76
2016-05-09               42,279.43
2016-05-10              116,356.26
2016-05-11               97,506.69
2016-05-12               64,807.63
2016-05-13               49,605.80
2016-05-14               53,428.23
2016-05-15               43,330.50
2016-05-16               38,255.45
2016-05-17               39,957.23
2016-05-18              119,302.87
2016-05-19               50,333.02
2016-05-20               65,018.66
2016-05-21               86,025.85
2016-05-22               82,296.72
2016-05-23               41,989.77
2016-05-24               66,884.63
2016-05-25               44,912.01
2016-05-26               88,860.96
2016-05-27               69,601.94
2016-05-28               64,408.62
2016-05-29               33,239.86
2016-05-30               30,420.56
2016-05-31              354,820.12
2016-06-01              109,846.68
2016-06-02               32,817.50
2016-06-03               29,676.19
2016-06-04               28,361.09
2016-06-05               21,755.43
2016-06-06               15,531.43
2016-06-07               78,711.15
2016-06-08              141,824.03
2016-06-09               34,028.69
2016-06-10               18,223.82
2016-06-11               26,834.87
2016-06-12               15,285.59
2016-06-13               18,283.03
2016-06-14               16,502.32
2016-06-15               14,688.06
2016-06-16               16,995.74
2016-06-17               13,448.37
2016-06-18                5,956.23
2016-06-19                6,853.12
2016-06-20                7,227.08
2016-06-21                8,707.94
2016-06-22                5,149.92
2016-06-23               25,207.26
2016-06-24               14,060.78
2016-06-25                4,707.63
2016-06-26                5,232.47
2016-06-27                4,812.33
2016-06-28               86,953.14
2016-06-29               60,149.46
2016-06-30              129,765.61
2016-07-01               37,550.48
2016-07-02                9,125.62
2016-07-03                5,395.16
2016-07-04                5,901.44
2016-07-05               13,849.87
2016-07-06                7,165.56
2016-07-07                4,653.09
2016-07-08                3,790.95
2016-07-09                2,639.52
2016-07-10                3,412.38
2016-07-11                3,321.53
2016-07-12               12,362.91
2016-07-13               10,423.22
2016-07-14                7,325.32
2016-07-15                6,004.37
2016-07-16                8,023.58
2016-07-17                4,849.24
2016-07-18                5,328.89
2016-07-19                3,635.91
2016-07-20                2,212.56
2016-07-21                6,217.58
2016-07-22                3,215.25
2016-07-23                2,633.32
2016-07-24                1,479.16
2016-07-25                2,970.88
2016-07-26                3,402.24
2016-07-27                2,298.96
2016-07-28                5,873.04
2016-07-29                  914.32
2016-07-30                  288.96
2016-08-05                  340.00
2016-08-31                  100.00
2016-09-14                  250.00>

In [43]:
max_sum_date.sort_values('sum', ascending = False)

KeyError: 'sum'

- **3b answer here:**

## If you have feedback for this homework, please submit it using the link below:

http://goo.gl/forms/74yCiQTf6k