# 12022022_02

In [3]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
import matplotlib.pyplot as plt
%matplotlib inline

Vegas = pd.read_csv('../vegas.csv')
Vegas.columns = Vegas.columns.str.replace('\.*\s+', '_').str.lower()

/var/folders/xj/j51mz36s00z2vnfq7wp23hxm0000gn/T/ipykernel_91850/778092029.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  Vegas.columns = Vegas.columns.str.replace('\.*\s+', '_').str.lower()

---

In [9]:
Vegas.score.groupby(Vegas.hotel_name).head()

0      5
1      3
2      5
3      4
4      4
      ..
480    4
481    3
482    4
483    3
484    5
Name: score, Length: 105, dtype: int64

In [10]:
Vegas.shape

(504, 20)

In [14]:
Vegas.score.groupby([Vegas.hotel_name, Vegas.traveler_type]).min().unstack()

traveler_type,Business,Couples,Families,Friends,Solo
hotel_name,,,,,
Bellagio Las Vegas,2.00,4.00,2.00,3.00,4.00
Caesars Palace,5.00,1.00,3.00,4.00,1.00
Circus Circus Hotel & Casino Las Vegas,3.00,1.00,1.00,2.00,4.00
Encore at wynn Las Vegas,1.00,4.00,3.00,4.00,NaN
Excalibur Hotel & Casino,3.00,3.00,2.00,3.00,3.00
Hilton Grand Vacations at the Flamingo,3.00,2.00,2.00,3.00,NaN
Hilton Grand Vacations on the Boulevard,4.00,1.00,2.00,5.00,5.00
Marriott's Grand Chateau,3.00,4.00,4.00,4.00,NaN
Monte Carlo Resort&Casino,1.00,2.00,3.00,3.00,2.00
Paris Las Vegas,4.00,2.00,4.00,3.00,NaN
The Cosmopolitan Las Vegas,1.00,2.00,5.00,4.00,NaN
The Cromwell,3.00,3.00,2.00,1.00,2.00
The Palazzo Resort Hotel Casino,4.00,3.00,3.00,3.00,NaN
The Venetian Las Vegas Hotel,4.00,3.00,4.00,5.00,5.00
The Westin las Vegas Hotel Casino & Spa,3.00,3.00,2.00,3.00,4.00
Treasure Island- TI Hotel & Casino,3.00,3.00,3.00,4.00,4.00
Tropicana Las Vegas - A Double Tree by Hilton Hotel,3.00,1.00,4.00,2.00,4.00
Trump International Hotel Las Vegas,4.00,2.00,1.00,5.00,5.00
Tuscany Las Vegas Suites & Casino,3.00,3.00,2.00,5.00,NaN
Wyndham Grand Desert,4.00,3.00,3.00,4.00,NaN
Wynn Las Vegas,2.00,4.00,5.00,5.00,3.00

In [15]:
temp = Vegas.score.groupby([Vegas.hotel_name, Vegas.traveler_type]).min().unstack()

In [16]:
temp

traveler_type,Business,Couples,Families,Friends,Solo
hotel_name,,,,,
Bellagio Las Vegas,2.00,4.00,2.00,3.00,4.00
Caesars Palace,5.00,1.00,3.00,4.00,1.00
Circus Circus Hotel & Casino Las Vegas,3.00,1.00,1.00,2.00,4.00
Encore at wynn Las Vegas,1.00,4.00,3.00,4.00,NaN
Excalibur Hotel & Casino,3.00,3.00,2.00,3.00,3.00
Hilton Grand Vacations at the Flamingo,3.00,2.00,2.00,3.00,NaN
Hilton Grand Vacations on the Boulevard,4.00,1.00,2.00,5.00,5.00
Marriott's Grand Chateau,3.00,4.00,4.00,4.00,NaN
Monte Carlo Resort&Casino,1.00,2.00,3.00,3.00,2.00
Paris Las Vegas,4.00,2.00,4.00,3.00,NaN
The Cosmopolitan Las Vegas,1.00,2.00,5.00,4.00,NaN
The Cromwell,3.00,3.00,2.00,1.00,2.00
The Palazzo Resort Hotel Casino,4.00,3.00,3.00,3.00,NaN
The Venetian Las Vegas Hotel,4.00,3.00,4.00,5.00,5.00
The Westin las Vegas Hotel Casino & Spa,3.00,3.00,2.00,3.00,4.00
Treasure Island- TI Hotel & Casino,3.00,3.00,3.00,4.00,4.00
Tropicana Las Vegas - A Double Tree by Hilton Hotel,3.00,1.00,4.00,2.00,4.00
Trump International Hotel Las Vegas,4.00,2.00,1.00,5.00,5.00
Tuscany Las Vegas Suites & Casino,3.00,3.00,2.00,5.00,NaN
Wyndham Grand Desert,4.00,3.00,3.00,4.00,NaN
Wynn Las Vegas,2.00,4.00,5.00,5.00,3.00

In [17]:
temp = get_group(Vegas.score.groupby([Vegas.hotel_name, Vegas.traveler_type])).head(5)

NameError: name 'get_group' is not defined

In [18]:
tempgrp = Vegas.score.groupby([Vegas.hotel_name, Vegas.traveler_type])

In [19]:
type(tempgrp)

pandas.core.groupby.generic.SeriesGroupBy

In [21]:
tempgrp.get_group(Vegas.hotel_name == 'Wynn Las Vegas', Vegas.traveler_type = 'Business'), ().head(5)

ValueError: must supply a tuple to get_group with multiple grouping keys

In [24]:
temp3 = Vegas.score.groupby(Vegas.hotel_name).min()

In [27]:
temp3

hotel_name
Bellagio Las Vegas                                     2
Caesars Palace                                         1
Circus Circus Hotel & Casino Las Vegas                 1
Encore at wynn Las Vegas                               1
Excalibur Hotel & Casino                               2
Hilton Grand Vacations at the Flamingo                 2
Hilton Grand Vacations on the Boulevard                1
Marriott's Grand Chateau                               3
Monte Carlo Resort&Casino                              1
Paris Las Vegas                                        2
The Cosmopolitan Las Vegas                             1
The Cromwell                                           1
The Palazzo Resort Hotel Casino                        3
The Venetian Las Vegas Hotel                           3
The Westin las Vegas Hotel Casino & Spa                2
Treasure Island- TI Hotel & Casino                     3
Tropicana Las Vegas - A Double Tree by Hilton Hotel    1
Trump International Hotel Las Vegas                    1
Tuscany Las Vegas Suites & Casino                      2
Wyndham Grand Desert                                   3
Wynn Las Vegas                                         2
Name: score, dtype: int64

In [30]:
temp4 = Vegas.score.groupby(Vegas.hotel_name)

In [33]:
temp4.mean()

hotel_name
Bellagio Las Vegas                                    4.21
Caesars Palace                                        4.12
Circus Circus Hotel & Casino Las Vegas                3.21
Encore at wynn Las Vegas                              4.54
Excalibur Hotel & Casino                              3.71
Hilton Grand Vacations at the Flamingo                3.96
Hilton Grand Vacations on the Boulevard               4.17
Marriott's Grand Chateau                              4.54
Monte Carlo Resort&Casino                             3.29
Paris Las Vegas                                       4.04
The Cosmopolitan Las Vegas                            4.25
The Cromwell                                          4.08
The Palazzo Resort Hotel Casino                       4.38
The Venetian Las Vegas Hotel                          4.58
The Westin las Vegas Hotel Casino & Spa               3.92
Treasure Island- TI Hotel & Casino                    3.96
Tropicana Las Vegas - A Double Tree by Hilton Hotel   4.04
Trump International Hotel Las Vegas                   4.38
Tuscany Las Vegas Suites & Casino                     4.21
Wyndham Grand Desert                                  4.38
Wynn Las Vegas                                        4.62
Name: score, dtype: float64

In [34]:
temp4.get_group(Vegas.hotel_name[0]).head(5)

0    5
1    3
2    5
3    4
4    4
Name: score, dtype: int64

In [35]:
temp4.get_group(Vegas.hotel_name == 'Paris Las Vegas').head(5)

TypeError: unhashable type: 'Series'

In [36]:
Vegas.score.groupby(Vegas.traveler_type)

In [39]:
Vegas.score.groupby(Vegas.traveler_type, Vegas.pool).mean()

TypeError: unhashable type: 'Series'

In [42]:
by_hotel = Vegas.score.groupby(Vegas.hotel_name).mean()

In [43]:
type(by_hotel)

pandas.core.series.Series

In [45]:
by_hotel.get_group(Vegas.hotel_name[0]).head(5)

AttributeError: 'Series' object has no attribute 'get_group'

In [47]:
Vegas.groupby(Vegas.hotel_name).head()

,user_country,nr_reviews,nr_hotel_reviews,helpful_votes,score,period_of_stay,traveler_type,pool,gym,tennis_court,spa,casino,free_internet,hotel_name,hotel_stars,nr_rooms,user_continent,member_years,review_month,review_weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,Canada,20,13,17,4,Dec-Feb,Couples,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,North America,4,January,Monday
481,USA,15,3,4,3,Dec-Feb,Families,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,North America,7,January,Tuesday
482,Italy,189,72,129,4,Dec-Feb,Solo,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,Europe,3,February,Friday
483,USA,25,19,27,3,Dec-Feb,Couples,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,North America,8,February,Monday
484,USA,33,11,12,5,Mar-May,Business,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,North America,4,March,Wednesday

In [49]:
Vegas.score.groupby(Vegas.hotel_name).head()

0      5
1      3
2      5
3      4
4      4
      ..
480    4
481    3
482    4
483    3
484    5
Name: score, Length: 105, dtype: int64

In [50]:
by_hotel = Vegas.score.groupby(Vegas.hotel_name)

In [51]:
by_hotel.mean()

hotel_name
Bellagio Las Vegas                                    4.21
Caesars Palace                                        4.12
Circus Circus Hotel & Casino Las Vegas                3.21
Encore at wynn Las Vegas                              4.54
Excalibur Hotel & Casino                              3.71
Hilton Grand Vacations at the Flamingo                3.96
Hilton Grand Vacations on the Boulevard               4.17
Marriott's Grand Chateau                              4.54
Monte Carlo Resort&Casino                             3.29
Paris Las Vegas                                       4.04
The Cosmopolitan Las Vegas                            4.25
The Cromwell                                          4.08
The Palazzo Resort Hotel Casino                       4.38
The Venetian Las Vegas Hotel                          4.58
The Westin las Vegas Hotel Casino & Spa               3.92
Treasure Island- TI Hotel & Casino                    3.96
Tropicana Las Vegas - A Double Tree by Hilton Hotel   4.04
Trump International Hotel Las Vegas                   4.38
Tuscany Las Vegas Suites & Casino                     4.21
Wyndham Grand Desert                                  4.38
Wynn Las Vegas                                        4.62
Name: score, dtype: float64

---

In [52]:
by_hotel = Vegas.groupby(Vegas.hotel_name)

In [53]:
by_hotel = Vegas.groupby('hotel_name')

In [54]:
by_hotel

In [55]:
by_hotel.get_group(Vegas.hotel_name[0]).head(5)

,user_country,nr_reviews,nr_hotel_reviews,helpful_votes,score,period_of_stay,traveler_type,pool,gym,tennis_court,spa,casino,free_internet,hotel_name,hotel_stars,nr_rooms,user_continent,member_years,review_month,review_weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday

In [56]:
by_hotel.mean()

,nr_reviews,nr_hotel_reviews,helpful_votes,score,nr_rooms,member_years
hotel_name,,,,,,
Bellagio Las Vegas,27.71,10.21,24.88,4.21,"3,933.00",3.42
Caesars Palace,38.00,15.29,26.38,4.12,"3,348.00",4.75
Circus Circus Hotel & Casino Las Vegas,29.21,7.79,18.50,3.21,"3,773.00",3.83
Encore at wynn Las Vegas,57.17,16.33,36.75,4.54,"2,034.00",4.75
Excalibur Hotel & Casino,45.58,22.12,31.75,3.71,"3,981.00",4.50
Hilton Grand Vacations at the Flamingo,48.42,23.04,32.46,3.96,315.00,3.96
Hilton Grand Vacations on the Boulevard,36.92,15.54,20.83,4.17,"1,228.00",4.79
Marriott's Grand Chateau,90.04,30.42,57.33,4.54,732.00,4.38
Monte Carlo Resort&Casino,71.83,17.46,39.25,3.29,"3,003.00",3.58
Paris Las Vegas,51.21,11.46,26.83,4.04,"2,916.00",3.62
The Cosmopolitan Las Vegas,33.79,10.12,28.54,4.25,"2,959.00",4.50
The Cromwell,71.54,20.96,45.17,4.08,188.00,3.58
The Palazzo Resort Hotel Casino,44.92,15.33,31.38,4.38,"3,025.00",5.29
The Venetian Las Vegas Hotel,32.04,12.96,24.00,4.58,"4,027.00",4.38
The Westin las Vegas Hotel Casino & Spa,46.46,18.08,36.17,3.92,826.00,5.75
Treasure Island- TI Hotel & Casino,24.04,10.12,20.54,3.96,"2,884.00",-71.04
Tropicana Las Vegas - A Double Tree by Hilton Hotel,30.50,12.71,22.75,4.04,"1,467.00",3.08
Trump International Hotel Las Vegas,65.00,13.67,27.79,4.38,"1,282.00",4.33
Tuscany Las Vegas Suites & Casino,64.08,20.46,39.79,4.21,716.00,4.71
Wyndham Grand Desert,66.83,18.58,37.42,4.38,787.00,4.54
Wynn Las Vegas,35.46,13.83,38.29,4.62,"2,700.00",5.42

In [57]:
by_traveler = Vegas.groupby('traveler_type')

In [58]:
by_traveler = Vegas.groupby(Vegas.traveler_type)

In [59]:
type(by_traveler)

pandas.core.groupby.generic.DataFrameGroupBy

In [60]:
by_traveler.mean()

,nr_reviews,nr_hotel_reviews,helpful_votes,score,nr_rooms,member_years
traveler_type,,,,,,
Business,72.00,23.68,42.27,3.88,"1,964.99",4.16
Couples,45.68,14.79,32.10,4.23,"2,299.20",4.43
Families,45.11,14.32,26.18,4.02,"2,067.17",4.26
Friends,39.66,14.52,29.46,4.26,"2,242.13",4.32
Solo,39.17,16.33,29.54,3.92,"2,428.96",-70.54

In [61]:
Vegas.groupby([Vegas.traveler_type, Vegas.pool])

In [62]:
Vegas.groupby([Vegas.traveler_type, Vegas.pool]).mean()

                    nr_reviews  nr_hotel_reviews  helpful_votes  score  \
traveler_type pool
Business      NO        119.00             21.00          75.00   3.00
              YES        71.36             23.71          41.82   3.89
Couples       NO         20.43              6.86          18.00   2.71
              YES        46.54             15.06          32.58   4.29
Families      NO         41.62              9.50          20.00   3.38
              YES        45.38             14.70          26.67   4.07
Friends       NO         14.43              5.29          11.57   3.43
              YES        42.01             15.39          31.13   4.33
Solo          NO          5.00              5.00           2.00   4.00
              YES        40.65             16.83          30.74   3.91

                    nr_rooms  member_years
traveler_type pool
Business      NO    3,773.00          3.00
              YES   1,940.22          4.18
Couples       NO    3,773.00          4.71
              YES   2,249.36          4.43
Families      NO    3,773.00          3.00
              YES   1,933.38          4.36
Friends       NO    3,773.00          3.57
              YES   2,099.25          4.39
Solo          NO    3,773.00          7.00
              YES   2,370.52        -73.91

In [63]:
Vegas.score.groupby([Vegas.traveler_type, Vegas.pool]).mean()

traveler_type  pool
Business       NO     3.00
               YES    3.89
Couples        NO     2.71
               YES    4.29
Families       NO     3.38
               YES    4.07
Friends        NO     3.43
               YES    4.33
Solo           NO     4.00
               YES    3.91
Name: score, dtype: float64

In [64]:
Vegas.score.groupby([Vegas.traveler_type, Vegas.pool]).mean().unstack()

pool            NO  YES
traveler_type
Business      3.00 3.89
Couples       2.71 4.29
Families      3.38 4.07
Friends       3.43 4.33
Solo          4.00 3.91

In [68]:
Vegas.groupby([Vegas.traveler_type, Vegas.pool])['score']

In [69]:
Vegas.groupby([Vegas.traveler_type, Vegas.pool])['score', 'helpful_votes']

/var/folders/xj/j51mz36s00z2vnfq7wp23hxm0000gn/T/ipykernel_91850/2509526336.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Vegas.groupby([Vegas.traveler_type, Vegas.pool])['score', 'helpful_votes']

In [70]:
Vegas.groupby([Vegas.traveler_type, Vegas.pool])['score', 'helpful_votes'].mean()

/var/folders/xj/j51mz36s00z2vnfq7wp23hxm0000gn/T/ipykernel_91850/3868489920.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Vegas.groupby([Vegas.traveler_type, Vegas.pool])['score', 'helpful_votes'].mean()

                    score  helpful_votes
traveler_type pool
Business      NO     3.00          75.00
              YES    3.89          41.82
Couples       NO     2.71          18.00
              YES    4.29          32.58
Families      NO     3.38          20.00
              YES    4.07          26.67
Friends       NO     3.43          11.57
              YES    4.33          31.13
Solo          NO     4.00           2.00
              YES    3.91          30.74

In [72]:
Vegas[['score', 'helpful_votes']].groupby([Vegas.traveler_type, Vegas.pool]).mean()

                    score  helpful_votes
traveler_type pool
Business      NO     3.00          75.00
              YES    3.89          41.82
Couples       NO     2.71          18.00
              YES    4.29          32.58
Families      NO     3.38          20.00
              YES    4.07          26.67
Friends       NO     3.43          11.57
              YES    4.33          31.13
Solo          NO     4.00           2.00
              YES    3.91          30.74

In [73]:
Vegas[['helpful_votes']].groupby([Vegas.traveler_type, Vegas.pool]).mean()

                    helpful_votes
traveler_type pool
Business      NO            75.00
              YES           41.82
Couples       NO            18.00
              YES           32.58
Families      NO            20.00
              YES           26.67
Friends       NO            11.57
              YES           31.13
Solo          NO             2.00
              YES           30.74

---

In [74]:
# most common

In [76]:
Vegas[['hotel_name', 'score', 'nr_hotel_reviews']].groupby([Vegas.traveler_type, Vegas.pool]).mean()

                    score  nr_hotel_reviews
traveler_type pool
Business      NO     3.00             21.00
              YES    3.89             23.71
Couples       NO     2.71              6.86
              YES    4.29             15.06
Families      NO     3.38              9.50
              YES    4.07             14.70
Friends       NO     3.43              5.29
              YES    4.33             15.39
Solo          NO     4.00              5.00
              YES    3.91             16.83

---

In [79]:
Vegas

,user_country,nr_reviews,nr_hotel_reviews,helpful_votes,score,period_of_stay,traveler_type,pool,gym,tennis_court,spa,casino,free_internet,hotel_name,hotel_stars,nr_rooms,user_continent,member_years,review_month,review_weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,UK,15,4,8,5,Sep-Nov,Couples,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,Europe,1,October,Sunday
500,Canada,50,13,29,4,Sep-Nov,Couples,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,North America,8,November,Thursday
501,USA,154,23,31,4,Sep-Nov,Friends,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,North America,4,November,Thursday
502,USA,9,6,5,2,Dec-Feb,Families,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,North America,9,December,Wednesday
503,USA,20,19,112,4,Dec-Feb,Families,YES,YES,NO,YES,YES,YES,The Westin las Vegas Hotel Casino & Spa,4,826,North America,5,December,Tuesday

In [78]:
Vegas.set_index('hotel_name')

,user_country,nr_reviews,nr_hotel_reviews,helpful_votes,score,period_of_stay,traveler_type,pool,gym,tennis_court,spa,casino,free_internet,hotel_stars,nr_rooms,user_continent,member_years,review_month,review_weekday
hotel_name,,,,,,,,,,,,,,,,,,,
Circus Circus Hotel & Casino Las Vegas,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,3,3773,North America,9,January,Thursday
Circus Circus Hotel & Casino Las Vegas,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,3,3773,North America,3,January,Friday
Circus Circus Hotel & Casino Las Vegas,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,3,3773,North America,2,February,Saturday
Circus Circus Hotel & Casino Las Vegas,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,3,3773,Europe,6,February,Friday
Circus Circus Hotel & Casino Las Vegas,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,3,3773,North America,7,March,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Westin las Vegas Hotel Casino & Spa,UK,15,4,8,5,Sep-Nov,Couples,YES,YES,NO,YES,YES,YES,4,826,Europe,1,October,Sunday
The Westin las Vegas Hotel Casino & Spa,Canada,50,13,29,4,Sep-Nov,Couples,YES,YES,NO,YES,YES,YES,4,826,North America,8,November,Thursday
The Westin las Vegas Hotel Casino & Spa,USA,154,23,31,4,Sep-Nov,Friends,YES,YES,NO,YES,YES,YES,4,826,North America,4,November,Thursday
The Westin las Vegas Hotel Casino & Spa,USA,9,6,5,2,Dec-Feb,Families,YES,YES,NO,YES,YES,YES,4,826,North America,9,December,Wednesday
The Westin las Vegas Hotel Casino & Spa,USA,20,19,112,4,Dec-Feb,Families,YES,YES,NO,YES,YES,YES,4,826,North America,5,December,Tuesday

In [84]:
def fun(name):
    if 'Circus' in name or 'Flamingo' in name:
        return 'preferred hotel'
    else:
        return 'non-preferred'

In [82]:
Vegas.groupby('hotel_name').mean()

,nr_reviews,nr_hotel_reviews,helpful_votes,score,nr_rooms,member_years
hotel_name,,,,,,
Bellagio Las Vegas,27.71,10.21,24.88,4.21,"3,933.00",3.42
Caesars Palace,38.00,15.29,26.38,4.12,"3,348.00",4.75
Circus Circus Hotel & Casino Las Vegas,29.21,7.79,18.50,3.21,"3,773.00",3.83
Encore at wynn Las Vegas,57.17,16.33,36.75,4.54,"2,034.00",4.75
Excalibur Hotel & Casino,45.58,22.12,31.75,3.71,"3,981.00",4.50
Hilton Grand Vacations at the Flamingo,48.42,23.04,32.46,3.96,315.00,3.96
Hilton Grand Vacations on the Boulevard,36.92,15.54,20.83,4.17,"1,228.00",4.79
Marriott's Grand Chateau,90.04,30.42,57.33,4.54,732.00,4.38
Monte Carlo Resort&Casino,71.83,17.46,39.25,3.29,"3,003.00",3.58
Paris Las Vegas,51.21,11.46,26.83,4.04,"2,916.00",3.62
The Cosmopolitan Las Vegas,33.79,10.12,28.54,4.25,"2,959.00",4.50
The Cromwell,71.54,20.96,45.17,4.08,188.00,3.58
The Palazzo Resort Hotel Casino,44.92,15.33,31.38,4.38,"3,025.00",5.29
The Venetian Las Vegas Hotel,32.04,12.96,24.00,4.58,"4,027.00",4.38
The Westin las Vegas Hotel Casino & Spa,46.46,18.08,36.17,3.92,826.00,5.75
Treasure Island- TI Hotel & Casino,24.04,10.12,20.54,3.96,"2,884.00",-71.04
Tropicana Las Vegas - A Double Tree by Hilton Hotel,30.50,12.71,22.75,4.04,"1,467.00",3.08
Trump International Hotel Las Vegas,65.00,13.67,27.79,4.38,"1,282.00",4.33
Tuscany Las Vegas Suites & Casino,64.08,20.46,39.79,4.21,716.00,4.71
Wyndham Grand Desert,66.83,18.58,37.42,4.38,787.00,4.54
Wynn Las Vegas,35.46,13.83,38.29,4.62,"2,700.00",5.42

In [85]:
Vegas.groupby(fun).mean()

TypeError: argument of type 'int' is not iterable